<div id="ModalPopup" class="dialog-container">
  <div class="mdl-card mdl-shadow--16dp">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" id="close" (click)="_hideDialog()">&times;</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <p [innerHTML]="message"></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" id="noButton">
        {{noText}}
      </button>
      <button class="btn btn-primary" id="okButton">
        {{okText}}
      </button>
    </div>
  </div>
</div>


<div id="alert" class="dialog-container">
  <div class="mdl-card mdl-shadow--16dp">
    <div [ngClass]= "alertStatus === 'success' ? 'info-box alert-success' :
                    alertStatus === 'error' ? 'info-box alert-danger' :
                    alertStatus === 'info' ? 'info-box alert-info' :
                    alertStatus === 'warning' ? 'info-box alert-warning' :
                    'info-box alert-error'" >
      <div class="info-box-content">
        <button type="button" class="close" data-dismiss="modal" (click)="_hideDialog()">
          <i class="fa fa-times"></i>
        </button>
        <span class="info-box-icon">
          <i class="fa fa-2x fa-exclamation-circle"></i>
        </span>

        <h4>{{title}}</h4>
        <p [innerHTML]="message"></p>
        <div class="clearfix"></div>
        <div class="actions">
          <div class="text-right">
            <button class="btn btn-tertiary" id="alertNoButton">
              {{noText}}
            </button>
            <button class="btn btn-primary" id="alertOkButton">
              {{okText}}
            </button>
          </div>
          <div class="text-center" id="exclamatoryIcon">
            <i class="fa-4x icon-comment-exclamatory"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
